h1 {
    color: red;
    text-align: center;
    text-shadow: 4px 4px 5px rgba(131, 33, 33, 0.719);
}

.title {
    color: chocolate;
}

#italic {
    color: cyan;
}

nav {
    background: lightblue;
    text-align: center;
}

.nav-wrapper {
    background-color: crimson;
}

a {
    text-decoration-line: none;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 30px;
}

.container {
    border: 10px dashed rgba(107, 15, 15, 0.438);
    margin: 50px 20px 40px 0px;
    padding: 30px 5px;
}

.box {
    height: 200px;
    width: 200px;
    background: palevioletred;
    box-shadow: 8px 8px 10px 5px rgba(184, 179, 179, 0.719);
    margin: 10px;
}

@keyframes getBigger {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    100% {transform: scale(.5);}
}

#box1 {
    animation-name: getBigger;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    border-radius: 35%;
    background: olive;
}

@keyframes fadeMe{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#box2 {
    animation-name: fadeMe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: royalblue;
    border-radius: 35%;
}

@keyframes Rotation{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

#box3 {
    animation-name: Rotation;
    animation-duration: 5ss;
    animation-iteration-count: 5s;
    animation-timing-function: ease-in-out;
    border-radius: 35%;
    background-image: radial-gradient(circle, purple, red, lightyellow, red, purple);
}

@keyframes changeColors {
    0% {background-color: yellow;}
    20% {background-color: orange;}
    40% {background-color: orangered;}
    60% {background-color: red;}
    80% {background-color: rgba(143, 3, 3, 0.568);}
    100% {background-color: rgba(153, 37, 37, 0.233);}
}

#box4 {
    animation: changeColors 8s infinite;
    border-radius: 35%;
}

@keyframes movingBox {
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 0px;}
    50% {left: 100px; top: 200px;}
    75% {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
}

#box5 {
    position: relative;
    animation: movingBox 6s infinite;
    border-radius: 35%;
    background: rgb(21, 80, 90);
}

#box6 {
    left: 50px;
    top: 70px;
    position: relative;
    border-radius: 35%;
    background: crimson;
}

html {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.CircleImg {
    border-radius: 50%;
}

img {
    box-shadow: 8px 8px 10px 5px rgba(184, 179, 179, 0.719);
}

.flex {
    margin: 30px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.contact-box {
    display: flex;
    justify-content: center;
}

.row {
    margin: 50px;
}

.input-field {
    margin: 40px;
}

form input, button, textarea {
    display: block;
    margin: 15px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 19% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: white;
    color: #444;
}

.Box {
    background-color: white;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

}

.a {
    grid-column: col / span  2 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.c {
    grid-column: col / span 5 ;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
    background-color: lightsalmon;
}
.d {
    grid-column: col / span  2 ;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;
}

.e {
    grid-column: col 4 / span  2;
    grid-row: row 3;
    display: flex;
    justify-content: center;
}

.f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-color: lightyellow;
}